* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.nav-menu {
    padding-top: 73px;
    background: #F9F6F1;
}

.menu-content {
    display: flex;
    justify-content: space-between;

}

.menu-content a {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.menu-left {}

.menu-content a:not(:last-child) {
    margin-right: 50px;
}

.content {
    padding-top: 30px;
    background-color: #F9F6F1;
}

.content-right h1 {
    color: #D84033;
    font-weight: 700;
    font-size: 42px;
    margin-top: 45px;
}

.content-right h3 {
    text-decoration: line-through;
}

.content-left p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.content-all {
    display: flex;
    justify-content: space-between;
}

.content-left h3 {

    font-weight: 700;
    font-size: 24px;
    color: black;
}

.content-left h1 {
    font-weight: 700;
    font-size: 55px;
    margin: 45px 0 25px 0;
}

.button {
    width: 240px;
    height: 55.74px;
    background-color: #D7B399;
    text-decoration: none;
    color: #F9F6F1;
    font-weight: 400;
    font-size: 16px;
}

.content-right {
    text-align: right;
}

.delivery-content {
    text-align: center;
    color: white;
}

.delivery {
    background: #212121;
}

.delivery-content span {
    font-weight: 400;
}

.delivery-content h1 {
    margin-bottom: 23px;
}

.delivery-content {
    padding: 80px 0 69px 0;
}

.sale-content {
    display: flex;
    justify-content: space-between;
}

.sale {
    padding: 72px 0;
    background-color: #F9F6F1;
}

.sale-content input {
    width: 255px;
    height: 40px;
    padding: 13px 0 12px 20px;
}

.contact {
    background-color: #212121;
    padding: 80px 0;
}
.button-sale{
    width: 185px;
    height: 40px;
    background-color: #D7B399;
    text-decoration: none;
    color: #F9F6F1;
    font-weight: 400;
    font-size: 16px;
    margin-left: 41px;
}
.contact-content{
    display: flex;
    justify-content: flex-end;
    
}
.categories{
    display: flex;
    flex-direction: column;
   
}
.contact-content h2{
    color:#FFFFFF ;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 20PX;
}
.contact-content a{
    color:  #CBCFD4;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-bottom:  10px ;

}
.vk{
    background: url(.png) no-repeat;
    padding-left:29px ;
}
.face{
    background: url(.png)  no-repeat;
     padding-left:29px ;
}
.inst{
    background: url(.png)  no-repeat;
     padding-left:29px ;
}
.end{
    background-color: #F9F6F1;
     padding-top:30px ;
}
.end-inf{
    display: flex; 
      justify-content: space-between;
}

.private{
    font-weight: 400;
    font-size: 14px;

}
.copyright{
    font-weight: 400;
    font-size: 14px;
}
.categories:nth-child(1){
    margin-right: 84px;
}
.categories:nth-child(2){
    margin-right: 76px;
}
.categories:nth-child(3){
    margin-right: 53px;
}
.mibile{
    display: none;
}
@media(max-width:768px){
    .content-all{
        flex-direction: column;
    }
    .content-right img{
        max-width: 100%;
    }
    .sale-content{
        flex-direction: column;
    }
    .mibile{
        display: block;
    }
}
